body{font-size:14pt;}

.clear{clear:both;}

#homewrap {max-width:1400px;}
#content-main {min-height:22em;}
.section-cell {background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px; 
    margin: 1em 0;
    padding: 1em;
    width: 100%;
    box-shadow: 0 1px 3px #c1c1c1;
    text-decoration: none;
        }
.section-title {text-align:center;}

.section-cell img {width:100%; height:auto;}

.label {font-size:120%;}

.sidebar {}

#footer { text-align: center;}

#content-main table {
  padding: 1em;
/*  border-spacing: 8px;  */
  border-collapse: collapse;
  border-spacing: 0;
  border:1px solid #ddd;
}

#content-main th{
  border:1px solid #ddd;
}
#content-main td{
  border:1px solid #ddd;
}
