<div id="footer" class="panel panel-info">
  <div class="panel-heading">
    <p> Wilmington Community Evangelical Church (WCEC) </p>
    <p>
    <span class="glyphicon glyphicon-home"> </span>
    Address: 1512 Brackenville Rd, Hockessin, DE 19707 Phone: 302-239-4990
    </p>
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"> </script>
