<div class="sidebar">
    <div id="search">
      <form action="{{site.url}}/query.html" id="cse-search-box">
            <div>
              <input type="hidden" name="cx" value="partner-pub-9681815890591039:5037995000" />
              <input type="hidden" name="cof" value="FORID:10" />
              <input type="hidden" name="ie" value="UTF-8" />
              <input type="text" name="q" size="35" />
              <input type="submit" name="sa" value="&#x641c;&#x7d22;" />
            </div>
          </form>

          <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=zh-Hans"></script>

    </div>
    <div>
      <ul class="list-group"> 
        <li class="list-group-item"> <a href="/category/update/"> 近期更新 </a> </li>
        <li class="list-group-item"> <a href="/category/message/"> 主日信息 </a> </li>
        <li class="list-group-item"> <a href="{% post_url /intro/2015-01-01-schedule %}#fellowship"> 聚会时间 </a> </li>
        <li class="list-group-item"> <a href="{% post_url /music/2015-03-01-choir-video %}"> 教会献诗 </a> </li>
        <li class="list-group-item"> <a href="/ganlin/"> 甘霖期刊 </a> </li>
        <li class="list-group-item"><a href="{% post_url /resource/2015-03-27-all-resource %}" >资源链接</a></li>
      </ul>
    </div>
    <div>
       <p> <a href='{{page.previous.url}}'>{{page.previous.title}}</a> </p>
       <p> <a href='{{page.next.url}}'>{{page.next.title}}</a> </p>
    </div>

</div>

