<div class="sidebar">
    <div id="search">
      <style type="text/css">
      @import url(http://www.google.com/cse/api/branding.css);
      </style>
      <div class="cse-branding-right" style="color:#333333">
        <div class="cse-branding-form">
          <form action="http://teckoo.com/query.html" id="cse-search-box">
            <div>
              <input type="hidden" name="cx" value="partner-pub-9681815890591039:9455036608" />
              <input type="hidden" name="cof" value="FORID:10" />
              <input type="hidden" name="ie" value="UTF-8" />
              <input type="text" name="q" size="18" />
              <input type="submit" name="sa" value="&#x641c;&#x7d22;" />
            </div>
          </form>
          <script type="text/javascript" src="http://www.google.com/jsapi"></script>
          <script type="text/javascript">google.load("elements", "1", {packages: "transliteration"});</script>
          <script type="text/javascript" src="http://www.google.com/cse/t13n?form=cse-search-box&t13n_langs=en"></script>
        </div>
        <div class="cse-branding-logo">
          <img src="http://www.google.com/images/poweredby_transparent/poweredby_000000.gif" alt="Google" />
        </div>
        <div class="cse-branding-text">
          自定义搜索
        </div>
      </div>
    </div>
    <div>
      <ul class="list-group"> 
        <li class="list-group-item"> 近期更新 </li>
        <li class="list-group-item"> 主日信息 </li>
        <li class="list-group-item"> 聚会时间 </li>
        <li class="list-group-item"> 教会献诗 </li>
        <li class="list-group-item"> 甘霖期刊 </li>
      </ul>
    </div>
    <div>
       <p> <a href='{{page.previous.url}}'>{{page.previous.title}}</a> </p>
       <p> <a href='{{page.next.url}}'>{{page.next.title}}</a> </p>
    </div>

</div>

