<nav class="navbar navbar-default" >
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  <a class="navbar-brand" href="/">威明顿主恩堂</a> 
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">首页</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">我们的教会<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/intro.html">教会介绍</a></li>
          <li><a href="/coworkers.html">牧长同工</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">中文事工 <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/message/">主日崇拜</a></li>
          <li><a href="/mission/">宣教差传</a></li>
          <li><a href="/fellowship/">团契聚会</a></li>
          <li><a href="/childrenMinistry/">儿童事工</a></li>
          <li><a href="/music">音乐事工</a></li>
          <li><a href="/literature/">教会年刊</a></li>
          <li><a href="/event/">活动花絮</a></li>
          <li><a href="#"></a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">灵修祷告 <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/sundayschool/">成人主日学</a></li>
          <li><a href="/bookclub/">读书会</a></li>
          <li><a href="/bible-reading/">全年读经</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">External Links</li>
          <li><a href="#">资源链接</a></li>
        </ul>
      </li>
      <li><a href="http://wcec-english.org">English</a></li>
    </ul>
  </div><!--/.nav-collapse -->
</nav>

