<nav class="navbar navbar-default" >
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  <a class="navbar-brand" href="/">威明顿主恩堂</a> 
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">首页</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">我们的教会<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{% post_url /intro/2010-01-01-church-intro %}">教会介绍</a></li>
            <li><a href="{% post_url /intro/2011-01-01-coworkers %}">牧长同工</a></li>
            <li><a href="{% post_url /intro/2015-01-01-schedule %}">聚会时间表</a></li>
          <li><a href="{% post_url /intro/2015-05-24-calendar %}">活动日历</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">中文事工 <b class="caret"></b></a>
        <ul class="dropdown-menu">
	  <li><a href="https://www.wcec.club/sermons_wcec/" target="_blank">主日信息 (從2/16/2020至今)</a></li>
          <li><a href="/category/message/">主日信息</a></li>
          <li><a href="/mission/">宣教差传</a></li>
          <li><a href="{% post_url /intro/2015-01-01-schedule %}#fellowship">团契聚会</a></li>
          <li><a href="/category/event/">特别活動</a></li>
          <li><a href="/category/children_ministry/">儿童事工</a></li>
          <li><a href="{% post_url /music/2000-01-01-choir-intro %}">音乐事工</a></li>
          <li><a href="/ganlin/">教会年刊</a></li>
          <li><a href="#"></a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">灵修祷告 <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{% post_url /bookclub/2015-02-01-bookclub %}">读书会</a></li>
          <li><a href="{% post_url /bookclub/2015-01-01-bible-reading %}">全年读经</a></li>
        <!-- <li class="divider"></li>
          <li><a href="#"></a></li>
          -->
        </ul>
      </li>
      <!--
      <li class="dropdown">
        <a href="https://wcec-home.org/sundayschool/sunday-school-2019-summer">成人主日学</a>    
      </li>
      -->
      <li class="dropdown">
	     <a href="#" class="dropdown-toggle" data-toggle="dropdown">成人主日学<b class="caret"></b></a>
	     <ul class="dropdown-menu">
	  <li><a href="https://www.wcec.club/ministries/adult_sunday_school/" target="_blank">2020春季</a></li>	     
    	  <li><a href="https://wcec-home.org/sundayschool/sunday-school-2019-fall">2019秋季</a></li>
          <li><a href="https://wcec-home.org/sundayschool/sunday-school-2019-summer">2019夏季</a></li>
	     </ul>
      </li>
      
      
      <li><a href="{% post_url /resource/2015-03-27-all-resource %}" >常用链接</a></li>
      <li class="dropdown">
	     <a href="#" class="dropdown-toggle" data-toggle="dropdown">English Ministry<b class="caret"></b></a>
	     <ul class="dropdown-menu">
	  <li><a href="https://www.facebook.com/wcec.em" target="_blank">Facebook Page</a></li>	     
    	  <li><a href="https://sites.google.com/view/wcecem" target="_blank">Webstie</a></li>
	     </ul>
      </li> 
    </ul>
  </div><!--/.nav-collapse -->
</nav>

